<%- include("../partials/header.ejs") %>

<div class="container">
    <h1>Appointments </h1> </br>
    <% if(prevAppointment.length === 0  && presAppointment.length === 0 && futureAppointment.length === 0){ %>
        <span>No Appointments Booked </span>
    <% } else { %>
        <% if(presAppointment.length === 0){ %>
            <h3>Ongoing Appointments</h3>
            <span>No Ongoing Appointments </span>
        <% } else { %>
        <h3>Ongoing Appointments</h3>
        <table style="width:100%">
            <tr>
                <th><h3>Patient Name</h3></th>
                <th><h3>Date</h3></th>
                <th><h3>Reason</h3></th>
                <th><h3>Consult</h3></th>
                <th><h3>Modify</h3></th>
            </tr>
        <% presAppointment.forEach(function(appointment){ %>
            <tr>
                <td><%= appointment.patient.name %>&nbsp; &nbsp;</td>
                <td><%= appointment.date %>&nbsp; &nbsp;</td>
                <td><%= appointment.description %></td>
                <form  action="/patient/<%= appointment.patient._id %>/appointment/<%= appointment._id %>?_method=DELETE" method="POST">
                <td><a class="btn btn-xs btn-primary" href="/chat.html?room=<%= appointment._id %>&username=Dr%20<%= appointment.doctor.name %>">Consult</a>&nbsp;</td>
                <td><a class="btn btn-xs btn-warning" href="/patient/<%= appointment.patient._id %>/appointment/<%= appointment._id %>/edit ">Update</a><br>
                <button class="btn btn-xs btn-danger">Delete</button><br><br></td>
            </form>
        </tr>
        <% }) ; %>
        </table>
        <% } %>
        <br><br>

        <% if(futureAppointment.length === 0){ %>
            <h3>Upcoming Appointments</h3>
            <span>No Upcoming Appointments</span>
        <% } else { %>
        <h3>Upcoming Appointments</h3>
        <table style="width:100%">
            <tr>
                <th><h3>Patient Name</h3></th>
                <th><h3>Date</h3></th>
                <th><h3>Reason</h3></th>
                <th><h3>Modify</h3></th>
            </tr>
        <% futureAppointment.forEach(function(appointment){ %>
            <tr>
                <td><%= appointment.patient.name %>&nbsp; &nbsp;</td>
                <td><%= appointment.date %>&nbsp; &nbsp;</td>
                <td><%= appointment.description %></td>
                <td><br><a class="btn btn-xs btn-warning" href="/patient/<%= appointment.patient._id%>/appointment/<%= appointment._id %>/edit ">Update</a><br>
                <form  action="/patient/<%= appointment.patient._id %>/appointment/<%= appointment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Delete</button></td>
            </form>
            </tr>
        <% }); %>
        </table>
        <% } %>
        <br><br>


        <% if(prevAppointment.length === 0){ %>
            <h3>Previous Appointments</h3>
            <span>No Previous Appointments </span>
        <% } else { %>
        <h3>Previous Appointments</h3>
        <table style="width:100%">
            <tr>
                <th><h3>Patient Name</h3></th>
                <th><h3>Date</h3></th>
                <th><h3>Reason</h3></th>
            </tr>
        <% prevAppointment.forEach(function(appointment){ %>
            <tr>
                <td><%= appointment.patient.name %>&nbsp; &nbsp;</td>
                <td><%= appointment.date %>&nbsp; &nbsp;</td>
                <td><%= appointment.description %></td>
            </form>
            </tr>
        <% }); %>
        </table>
        <% } %>
        
    <% } %>

   <br><br>
    <a href="/doctor">Back to Dashboard</a>

</div>

<%- include("../partials/footer.ejs") %>