<%- include("../partials/header.ejs") %>
    

    <div class="container">
        <header class="jumbotron" style="background-image: url('../images/cover_aboutus.jpg');">
			<div class="container">
				<h1 style="text-align: center;"> Welcome to SHCS </h1>
            </div>
            <ul class="navbar-nav text-white" style="list-style-type:none;">
                <li class="nav-item items" style="margin:5px 0 50px; ">
                    <a href="/doctor/<%= doctor._id %>/edit"><button class="btn btn-success btn-change" style="margin-left: 240px;">Edit Profile</button></a>
                </li>
                <li class="nav-item items " style="margin:5px 0 50px; " >
                    <a href="/doctor/<%= doctor._id %>"><button class="btn btn-info btn-change" style="margin-left: 50px;" >View Profile</button></a>
                </li>
                <li class="nav-item items" style="margin:5px 0 50px; ">
                    <a class="#" href="/doctor/<%= currentUser._id %>/appointment"><button class="btn btn-primary btn-change" style="margin-left: 50px;">View Appointments</button></a>
                </li>
            </ul>
        </header>
        
        <br>
        <h1>Welcome Doctor <%= doctor.name%></h1>

    
<%- include("../partials/footer.ejs") %>