<%- include("../partials/header.ejs") %>

<div class="container">
    <h1>Doctor List</h1>
    <table style="width:100%">
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Address</h3></th>
          <th><h3>Speclization</h3></th>
        </tr>
        <% doctors.forEach(function(doctor){ %>
        <tr>
            <td  style="height: 30px;"><a href="/doctor/<%= doctor._id %>"><%= doctor.name %></a></td>
            <td><%= doctor.address %></td>
            <td><%= doctor.degree %></td>
        </tr>
        <% }) %>
      </table>
    </br>
    <a href="/patient">Go Back</a>
</div>

<%- include("../partials/footer.ejs") %>