<%- include("../partials/header.ejs") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome to SHCS </h1>
        </div>
        <% if(!patient.medical_record){ %>
            <a class="btn btn-sm btn-primary" href="/patient/<%= patient._id %>/new">Add Medical Record</a> 
        <% } else { %>
            <a class="btn btn-sm btn-warning" href="/patient/<%= patient._id %>/edit">Update Record</a>
        <% } %>
    </header>
</div>

<div class="container">
    <h1> Medical Records  </h1>
    <% if(patient.medical_record){ %>
    Name        :<%= patient.medical_record.name %></br>
    Age         :<%= patient.medical_record.age %></br>
    Blood_Group :<%= patient.medical_record.blood_group %></br>
    Gender      :<%= patient.medical_record.gender %></br>
    Height      :<%= patient.medical_record.height %> </br>
    Weight      :<%= patient.medical_record.weight %> kg</br>
    Sugar       :<%= patient.medical_record.sugar %> </br>
    BP          :<%= patient.medical_record.bp %></br>
    <% } else { %>
    No Record Found . Add new Record
    <% } %>
</div>



<% include("../partials/footer.ejs") %>