<%- include ('../partials/header.ejs') %>
  <div class="container">
    <div class="row">
        <h1 style="text-align: center">Add Appointment !!</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/patient/<%= patient_id %>/appointment" method="POST">
				<div class="form-group">
                  <label for="name">Doctor name: </label>
                  <select class="form-control" id="name", name="name">
                  <option value="" disabled selected>Select a Doctor</option>
                  <% doctors.forEach(function(doctor){ %>
                    <option value="<%= doctor.name %>"><%= doctor.name %></option>
                  <% }); %> 
                </select> 
                </div>

				<div class="form-group">
                    <label for="time">Select Time :</label>
                    <input class="form-control" id="time" type="datetime-local" name="time"> 
                </div>
                <div class="form-group">
                    <label for="name">Reason : </label>
                    <input class="form-control" type="text" name="description" placeholder="Reason for Appointment" id="description" required=true>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Book Appointment !!</button>
                </div>
            </form>
            <a href="/patient">Go Back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>