<%- include("../partials/header.ejs") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome to SHCS </h1>
        </div>
    </header>
    <h1>Appointments </h1> </br></br>
    <% if(appointments.length === 0){ %>
        <span>No Appointments Booked </span>
    <% } else { %>
        <% appointments.forEach(function(appointment){ %>
            Doctor : <%= appointment.doctor.name %>&nbsp; &nbsp;Date : <%= appointment.date %>&nbsp; &nbsp;Reason : <%= appointment.description %></br>
        <a class="btn btn-xs btn-warning" href="/patient/<%= appointment.patient %>/appointment/<%= appointment._id %>/edit ">Update</a>
        <form  action="/patient/<%= appointment.patient %>/appointment/<%= appointment._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger">Delete</button>
        </form>
        </br></br>
        <% }) %>
    <% } %>
    </br></br>
    <a href="/patient">Back to Dashboard</a>

</div>

<%- include("../partials/footer.ejs") %>